<body class="sidebar-dark">
  	<div class="main-wrapper" style="width:100%;">
      <div class="page-wrapper" style="width:100%; margin-left:0; padding:0;">
        	<div class="page-content" style="margin-left:0; padding: 0;">
				<button type="button" class="btn btn-primary" style="color:white; margin-top: 3%; margin-left: 3%;">
					<%= link_to 'Back', fuel_types_path %>
				</button>

                <h4 style="text-align:center;">Add Fuel Type</h4>

				<%= render 'form', fuel_type: @fuel_type %>


			</div>
		</div>
	</diV>
</body>


<style>
	a {
		color: white;
		text-decoration: none;
		background-color: transparent;
	}
</style>