<style>
    .auto-footer{
        margin-left: 100px;
    }
</style>
<% if user_signed_in? %>

    <!-- footer -->
    <div class="footer">
        <div class="wthree-copyright">
            <p class="auto-footer">© 2020 - Present | Autofrontier. All rights reserved | Developed by <a href="www.devdex.software">Devdex Software</a></p>
        </div>
    </div>

<% end%>
<!-- / footer -->
<!-- </section> -->